/**
 * @author Sergii Gamaiunov <hello@webkadabra.com>
 */

/* Common selector to hide element */
.hidden_el {
    display: none
}

/* Brought in by Twitter Bootstrap, these two helpers are widely used in views: */
.pull-left {
    float: left;
}

.pull-right {
    float: right;
}